assets/settings.php
archieve/
SQL/
.vscode/
.idea/CRM.iml
.idea/dataSources.xml
.idea/deployment.xml
.idea/modules.xml
.idea/php.xml
.idea/sqldialects.xml
.idea/sshConfigs.xml
.idea/vcs.xml
.idea/webServers.xml
